

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy-Black;
    color: #fff;
    /* background-color: #fff !important; */
}
h1,h2,h3,h4,h5,h6 {
font-family: Gilroy-Bold !important;
}
html, body {
    height: 100%;
    width: 100%;
}
#purple{
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 100;
    background-color: #EDBFFF;
    opacity: 0; 
    display: none;
    transition: opacity ease 1s;
    
}



#purple div {
    display: flex;
    height: 100%;
    width: 100%;
    transition: all 1s;
    align-items: center;
}

#purple h1 {
    font-size: 8vw;
    font-weight: 400;
    
    white-space: nowrap;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    animation: swiperInfinite 4s infinite linear;
}

@keyframes swiperInfinite {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    background-color: #fff;
    z-index: 8;
    
    transition: all 0.2s ease-out;
    background-position: center;
    background-size:cover ;
    mix-blend-mode: difference;
    
    
    
}
.cursor-blend{
    mix-blend-mode: normal;
}
.cursor-img{
    width: 405px;
    height: 315px;
    overflow: hidden;
    border-radius: 15px;
    /* background-size: cover;
    background-position: center; */
    transform: translate(-50%, -50%);
}

.cursor-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.main{
    background-color: #0F0D0D;
    
    
    
}






#nav{
    height: 55px;
    width: 100%;
    /* background- */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    mix-blend-mode: difference ;
    z-index:102;
}
#nav img{
    height: 27px;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#nav #circle{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #fff;
}
#nav-part2 h4{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    
    
}
/* #nav h4:nth-child(1){
    border-bottom: 1.5px solid #fff;
} */

.page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding-top:150px;
    
}

.page1 h1{
    font-size: 8vw;
    font-weight: 300;
    font-family: PP mori;
    
    margin-left:10vw;
    transform-origin: left;
}
.page1 h2{
    font-size: 8vw;
    font-weight: 300;
    transform-origin: right;
    margin-right: 10vw;
    text-align:right;
}

.page1 video{
    width: 70%;
    padding-top: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}




.page2{
    min-height: 100vh;
    width: 100%;
    padding:40px ;
    border-bottom: 2px solid #6c6c6c;
    position: relative;
    z-index: 9;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: .5fr 80%; 
   
    grid-template-areas: 
    "h h"
    "page2-left page2-right"; 
    padding: 50px 5vw;
    border: 0;
   
}

.page2 h1{
    margin-top: 100px;
    font-size:7vw;
    font-weight: 500;
    color: #111;
    
    grid-area: h;
    line-height: 4vw;
    margin-bottom: 5vw;
    
}

.page2 .page2-left{
   width: 80%;
    /* background-color: blue; */
    grid-area: page2-left;
    
}

.page2 .page2-left h2{
     font-size: 4vw;
    font-weight: 300;
    color: #111;
    line-height: 4vw;
}

.page2 .page2-right{
    width: 40%;
    justify-self: end;
    
    /* background-color: green; */
    grid-area: page2-right;

}


.page2 .page2-right p{
    font-size: 32px;
    color :#111;
    
}
.page2 .page2-right button{
    width: 100%;
    border-radius: 25px;
    border: none;
    padding: 10px 10px;
    background-color: lightpink;
    color: #111;
    margin-top: 20px;

}

.page3{
    min-height: 240vh;
    width: 100%;
    position: relative;
    padding: 20px 0;
 
    z-index: 9;
}

.page3 h1{
    font-size: 6vw;
    color:"#fff",
    
    
}

.page3-part1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    grid-template-areas: 
    "pg3img pg3vid";
    justify-content: space-between;
    
     padding-top: 10px;

}

.page3-part1 img{
    height: 600px;
    margin-top:160px;
    grid-area: pg3img;
    align-self: end;
}

.page3-part1 video{
    height: 450px;
    width: auto;
    grid-area: pg3vid;
    align-self: start;
    justify-self: end;
}


.page4{
    min-height: 100vh;
    width: 100%;
    z-index: 9;
    position: relative;
    padding: 0 100px;

    color: #fff !important;

}

.elem{
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 10px;
}

.text-div{
    
    height: 9.5vw;
    overflow: hidden;
}

.elem h1{
    color:"#fff";
    font-size: 7.3vw;
    transition: all ease-in-out 0.3s;
}

.elem img{
    position:absolute;
    opacity: 0;
    transition: all ease-in-out 0.3s;
    transform: translateY(20%) rotate(180deg);
}

.elem img:nth-child(1){
    left: 0;
}
.elem img:nth-child(3){
    right: 0;
}

.elem:hover h1{ 
    transform: translateY(-100%);
    transition: all ease-in-out 0.3s;
    color: #EDBFFF;

}

.elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);
    transition: all ease-in-out 0.3s;
}

.page5{
    width: 100%;
    min-height: 100vh;
    /* background-color: #7dbfe5; */
    position: relative;
    z-index: 9;
    border-top: 2px solid #6c6c6c;
    padding-top: 6vw;

}

.page5 h2{
    font-size: 4vw;
    text-transform: uppercase;
    font-weight:400;
    
}

.box{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 100px;
    padding: 1.8vw 0.3vw;
    border-top: 2px solid #fff;
    cursor: pointer;
    
    
}
.box:hover{
    color: #fff;
    transition: all 0.5s;
    cursor: none;
}
.box:nth-last-child(){
    border-bottom:2px solid #fff;
}



footer{
    height: 10vh;
    width: 100%;
    
}